<nav class="navbar navbar-expand-lg navbar-dark px-4">
  <div class="container-fluid">

    <!-- Site brand / logo -->
    <a class="navbar-brand" href="/">Car Rentals</a>

    <!-- Button for collapsing navbar on mobile screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Home page link -->
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <!-- Car list page link -->
        <li class="nav-item">
          <a class="nav-link" href="/cars">Car List</a>
        </li>

        <!-- Add new car page link -->
        <li class="nav-item">
          <a class="nav-link" href="/cars/new">Add Car</a>
        </li>
      </ul>
    </div>

  </div>
</nav>




